@font-face {
  font-family: "Inter";
  src: url("../../fonts/Inter.woff2") format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mont";
  src: url("../../fonts/mont.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
