html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.no-scroll,
.no-scroll body {
  overflow-y: hidden;
}

.unbutton {
  margin: 0;
  padding: 0;
  color: inherit;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
  -webkit-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
  border: 0;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3 {
  margin: 0;
}

p {
  margin: 0;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

b {
  display: block;
}

i {
  font-style: normal;
}

a,
button {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

a[href^="tel"] {
  color: inherit;
  text-decoration: none;
}

figure,
blockquote {
  margin: 0;
}

input,
textarea {
  -webkit-appearance: none;
}

input[type="text"],
input[type="tel"],
textarea {
  font-size: 16px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

* {
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
}

/* general */

body {
  font-family: "Inter", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: var(--copy-color);
}

.section {
  padding: 80px 0 0;
}

.overlayed {
  position: relative;
}

.overlayed > * {
  position: relative;
}

.overlayed::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  background-color: #ffffff;
}

.container {
  width: var(--container-width);
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.headline {
  margin-bottom: 25px;
  font-family: "Mont", "Helvetica", sans-serif;
  font-weight: 800;
  font-size: 22px;
  line-height: 36px;
}

.headline span {
  display: block;
  white-space: nowrap;
}

.headline i {
  color: var(--feature-color);
}

.text {
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: var(--secondary-copy-color);
}

.text i {
  font-weight: 600;
  color: var(--copy-color);
}

.button {
  position: relative;
  display: inline-block;
  max-width: 100%;
  padding: 20px 24px;
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #ffffff;
  text-align: left;
  text-decoration: none;
  background-color: var(--feature-color);
  outline: 0;
  opacity: 1;
  transition: all 0.2s ease-out;
}

.button:active {
  transform: scale(0.97);
}

.button:disabled {
  opacity: 0.2;
  pointer-events: none;
  cursor: not-allowed;
}

.button span {
  position: relative;
  left: 50%;
  display: inline-block;
  transition: all 0.2s ease-out;
  transform: translateX(-50%);
}

.button:hover span,
.button:focus span {
  left: 0;
  transform: translateX(0);
}

.button svg {
  fill: #ffffff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 24px;
  height: 16px;
  margin: auto 0;
  opacity: 0;
  transform: translateX(-32px);
  transition: all 0.2s ease-out;
}

.button:hover svg,
.button:focus svg {
  opacity: 1;
  transform: translateX(0);
}

.button--secondary {
  color: var(--copy-color);
  background-color: rgba(51, 51, 51, 0.04);
}

.button--secondary svg {
  fill: #333333;
}

.button--ghost {
  padding: 18px 23px;
  color: var(--feature-color);
  background-color: #ffffff;
  border: 1px solid var(--feature-color);
}

.button--ghost svg {
  fill: var(--feature-color);
}

.circle-button {
  width: 56px;
  height: 56px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  outline: 0;
  transition: border-color 0.2s ease-out;
}

.circle-button:hover,
.circle-button:focus {
  border-color: rgba(255, 255, 255, 0.4);
}

.slider-control {
  width: 44px;
  height: 44px;
  outline: 0;
  transition: opacity 0.1s ease-out;
}

.slider-control:hover,
.slider-control:focus {
  opacity: 1;
}

.slider-control:active {
  opacity: 0.3;
}

.slider-control:disabled {
  opacity: 0.1;
  cursor: default;
  pointer-events: none;
}

.slider-control svg {
  fill: #0f0f15;
  position: relative;
  top: 2px;
  display: inline-block;
  transition: fill 0.1s ease-out;
}

.slider-control:hover svg,
.slider-control:focus svg {
  fill: var(--feature-color);
}

.abstract {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "h c c";
  column-gap: 24px;
}

.abstract__headline {
  grid-area: h;
}

.abstract__content {
  grid-area: c;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333333;
  z-index: 30;
}

.no-scroll {
  overflow: hidden;
}

.no-scroll-ios {
  position: fixed;
  width: 100%;
}

.group {
  position: relative;
}

.input {
  display: block;
  width: 100%;
  padding: 32px 20px 10px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  color: inherit;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgba(51, 51, 51, 0.1);
  border-radius: 0;
  outline: 0;
  -webkit-appearance: none;
  transition: border-color 0.2s ease-in;
}

.input:focus {
  border-color: rgba(51, 51, 51, 0.3);
}

.input--select {
  height: 100%;
  padding-right: 56px;
}

.input--select ~ svg,
.react-datepicker-wrapper ~ svg {
  position: absolute;
  top: 0;
  right: 20px;
  bottom: 0;
  margin: auto 0;
  opacity: 0.4;
  transition: opacity 0.2s ease-in;
  pointer-events: none;
}

.input--message {
  height: 140px;
}

.input--number {
  padding-left: 48px;
  padding-right: 48px;
  text-align: center;
  -webkit-appearance: none;
}

.label {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 20px;
  height: 14px;
  margin: auto 0;
  font-size: 14px;
  line-height: 1em;
  color: rgba(51, 51, 51, 0.3);
  pointer-events: none;
  transition: all 0.3s ease-out;
  transform-origin: left;
}

.input:focus ~ .label,
.input:not(:placeholder-shown) ~ .label,
.input--select ~ .label,
.react-datepicker-wrapper ~ .label {
  color: rgba(51, 51, 51, 0.6);
  transform: scale(0.9) translateY(-12px);
}

.group--message .label {
  top: 25px;
  bottom: unset;
  padding-right: 24px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: calc(-1 * var(--basic-gap));
  display: none;
  min-width: 184px;
  padding-top: 60px;
}

.nav__item:hover .dropdown-menu {
  display: block;
}

.dropdown-menu__list {
  background-color: #ffffff;
  box-shadow: 0 25px 40px 0 rgba(51, 51, 51, 0.1);
}

.dropdown-menu__link {
  display: block;
  padding: 20px 24px;
  font: inherit;
  color: inherit;
  transition: color 0.2s ease-out;
}

.dropdown-menu__link:hover,
.dropdown-menu__link:focus {
  color: var(--feature-color);
}

.caption {
  position: absolute;
  right: 36px;
  bottom: 36px;
  left: 36px;
  display: flex;
  justify-content: space-between;
}

.caption__text {
  display: block;
  padding: 20px 24px 20px 56px;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #0f0f15;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: 16px auto;
  background-position: 24px center;
  border-radius: 28px;
}

.caption__button {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 24px;
  background-color: #ffffff;
}

.caption__button svg {
  fill: #0f0f15;
  transition: fill 0.1s ease-in;
}

.caption__button:hover svg,
.caption__button:focus svg {
  fill: var(--feature-color);
}

/* responsive */

@media (max-width: 1279px) {
  .section {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}

@media (max-width: 959px) {
  body,
  .text {
    font-size: 14px;
    line-height: 26px;
  }

  .overlayed {
    margin-left: calc(-1 * (var(--basic-gap)));
    margin-right: calc(-1 * (var(--basic-gap)));
    padding-left: var(--basic-gap);
    padding-right: var(--basic-gap);
    background-color: #ffffff;
  }

  .overlayed::before {
    display: none;
  }

  .dropdown-menu {
    position: static;
    display: block;
    padding: 0;
  }

  .dropdown-menu__list {
    background-color: rgba(255, 255, 255, 0);
    box-shadow: none;
  }

  .dropdown-menu__item {
    padding: 0 24px;
  }
}

@media (max-width: 666px) {
  .index {
    text-align: center;
  }

  .section {
    padding-top: 48px;
    padding-bottom: 0;
  }

  .button {
    font-size: 14px;
  }

  .abstract {
    display: block;
  }
}

@media (max-width: 519px) {
  .label span {
    display: none;
  }
}

@media (max-width: 414px) {
  .caption {
    right: var(--basic-gap);
    bottom: var(--basic-gap);
    left: var(--basic-gap);
  }

  .caption__text {
    padding: 15px 15px 15px 42px;
    font-size: 12px;
    line-height: 14px;
    background-position: 19px center;
    border-radius: 22px;
  }

  .caption__button {
    width: 44px;
    height: 44px;
  }
}
