._3oF08{
    padding: 0;
    min-width: 1000px;
}
._2XkMz{
    width: 100%;
    padding: 0;
}
._2IUES{
    min-width: 150px;
    padding: 0;
    white-space: nowrap;
}
._kHdy{
    padding: 0;
    text-align: center;
    min-width: 140px;
    border-left: 2px solid rgba(0,0,0,.1);
    white-space: nowrap;
}

._3YlH8 {
    width: 400px;
}

._2UEdT._3QEiU {
    width: 200px;
}

.D_SQe {
    width: 100%;
    max-width: 380px;
    border: 0;
    border-collapse: collapse;
}

.NKuvu {
    width: 60px;
    padding: 0 12px 14px 0;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
    opacity: 0.8;
    white-space: nowrap;
}

._1ORCK {
    position: relative;
    padding: 0 36px 14px 0;
    font-weight: 500;
    opacity: 1;
    text-align: right;

    width: 60px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
    white-space: nowrap;
}

._1cwCw:last-of-type .NKuvu {
    padding-bottom: 0;
}

._1UCFU button{
    width: 120px;
}

