/* HEADER */

.page-header {
  position: relative;
  padding: 88px 0 0;
  color: #242424;
  background-color: #ffffff;
}

.inner .page-header {
  display: block;
  min-height: unset;
  padding: 0;
  color: inherit;
  background-image: none;
}

.page-header__movie {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* HEADER -> navigation */

.page-header__nav {
  z-index: 10;
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: left;
  background-color: #ffffff;
}

.nav--sticky {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.95);
  border-bottom: 1px solid rgba(36, 36, 36, 0.06);
  animation: slideDown 0.3s ease-in;
}

.nav__container {
  position: relative;
  display: flex;
  align-items: center;
  height: 88px;
  padding-right: 300px;
}

.nav__logo {
  margin-right: auto;
  transition: all 0.2s ease-in;
  z-index: 21;
}

a.nav__logo:hover,
a.nav__logo:focus {
  opacity: 0.75;
}

a.nav__logo:active {
  transform: scale(0.95);
}

.nav__logo-pic {
  fill: #242424;
  transition: fill 0.2s ease-in;
}

.nav__menu {
  display: flex;
  align-items: center;
  margin: 0 36px;
  z-index: 20;
}

.nav__item {
  position: relative;
  margin-left: 42px;
  font-family: inherit;
  font-weight: 600;
  font-size: inherit;
  letter-spacing: 0.02em;
}

.nav__item:first-child {
  margin-left: 0;
}

.nav__item--button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  order: 2;
  display: flex;
  align-items: center;
  margin: 0;
}

.nav__link {
  font: inherit;
  color: inherit;
  text-decoration: none;
  opacity: 1;
  transition: color 0.2s ease-out;
}

.nav__item:hover .nav__link,
.nav__link:focus {
  color: var(--feature-color);
}

.nav__link:active {
  opacity: 0.3;
}

.nav--sticky .nav__link {
  color: #333333;
}

.nav__link--has-dropdown {
  display: flex;
  align-items: center;
}

.nav__link--has-dropdown svg {
  stroke: #333333;
  margin-left: 5px;
  transition: stroke 0.2s ease-out;
}

.nav__item--has-dropdown:hover .nav__link svg,
.nav__link--has-dropdown:focus svg {
  stroke: var(--feature-color);
}

.nav__button {
  min-width: 280px;
  padding: 16px 24px;
}

.nav__user {
  /* временно скрываем иконку юзера */
  display: none;
  padding: 16px 16px;
  background-color: #f9f9f9;
}

.nav__user svg {
  fill: #242424;
  transition: fill 0.2s ease-in;
}

.nav__user:hover svg,
.nav__user:focus svg {
  fill: var(--feature-color);
}

/* HEADER -> slider */

.page-header__slider {
  z-index: 2;
}

.slider {
  position: relative;
  margin: auto 0;
}

.slider__item {
  padding: 122px 0 136px;
}

.slider__headline {
  max-width: 780px;
  margin-bottom: 34px;
  font-size: 44px;
  line-height: 64px;
}

.slider__text {
  max-width: 520px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.8);
  opacity: 0.8;
}

.slider__button {
  min-width: 288px;
  margin-top: 82px;
}

/* HEADER -> city navigation */

.city-nav {
  position: relative;
  padding-top: 324px;
  background-image: url("../../img/work/events-work-4.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.city-nav__content {
  background-color: var(--feature-color);
}

.city-nav__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "h n n";
  column-gap: 24px;
  align-items: stretch;
}

.city-nav__headline-wrapper {
  position: relative;
  grid-area: h;
  display: flex;
  align-items: center;
}

.city-nav__headline-wrapper::before {
  content: "";
  position: absolute;
  right: calc(-1 * var(--basic-gap));
  bottom: 0;
  width: 50vw;
  height: 176px;
  background-color: #ffffff;
}

.city-nav__back-button {
  position: absolute;
  bottom: 100%;
  left: 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: var(--feature-color);
}

.city-nav__back-button svg {
  fill: var(--feature-color);
  position: absolute;
  top: 0;
  right: calc(100% + 16px);
  opacity: 0.4;
  transition: opacity 0.2s ease-in;
}

.city-nav__back-button:hover svg,
.city-nav__back-button:focus svg {
  opacity: 1;
}

.city-nav__headline {
  position: relative;
  margin: 0;
  font-size: 28px;
  line-height: 40px;
}

.city-nav__list {
  position: relative;
  grid-area: n;
  display: flex;
  align-items: center;
  min-height: 88px;
  padding: 0 16px;
  background-color: var(--feature-color);
}

.city-nav__item {
  margin: 0 20px;
}

.city-nav__link {
  position: relative;
  display: inline-block;
  line-height: 1.4em;
  color: #ffffff;
}

.city-nav__link::after {
  content: "";
  position: absolute;
  top: calc(100% + 4px);
  right: 0;
  left: 0;
  display: block;
  height: 2px;
  background-color: #ffffff;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.2s ease-in;
}

.city-nav__link:hover::after {
  transform: scaleX(1);
}

/* HEADER -> intro */

.description {
  position: relative;
  padding: 153px 0 252px;
  background-color: #e4f4fe;
  overflow: hidden;
}

.description::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 132px;
  background-color: #ffffff;
}

.description__content {
  max-width: 50%;
  padding-right: 24px;
}

.description__headline {
  max-width: 440px;
  margin-bottom: 36px;
  font-size: 34px;
  line-height: 44px;
}

.description__text {
  max-width: 468px;
  font-size: 14px;
  line-height: 2em;
  opacity: 0.8;
}

.description__button {
  min-width: 288px;
  margin-top: 52px;
}

.description__illustration {
  position: absolute;
  top: 0;
  right: 0;
  width: 50vw;
  height: 100%;
  z-index: 2;
  object-fit: cover;
}

/* HEADER -> social */

.social {
  display: flex;
  align-items: center;
}

.social__button {
  width: 32px;
  height: 32px;
  margin-right: 16px;
  padding: 6px;
  opacity: 0.5;
}

.social__button:hover,
.social__button:focus {
  opacity: 1;
}

.social__button svg {
  fill: #ffffff;
}

.social__button:hover svg,
.social__button:focus svg {
  fill: var(--feature-color);
}

.social__button--vk:hover svg,
.social__button--vk:focus svg {
  fill: #5181b8;
}

.social__button--instagram:hover svg,
.social__button--instagram:focus svg {
  fill: url('#paint_radial');
}

.social__button--facebook:hover svg,
.social__button--facebook:focus svg {
  fill: #1877f2;
}

.social__button:focus {
  opacity: 0.5;
}

/* HEADER -> contacts */

.page-header__contacts {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  z-index: 2;
}

.contacts__container {
  display: flex;
  align-items: center;
  min-height: 159px;
}

.contacts__down {
  stroke: #ffffff;
  margin-right: 88px;
}

.contacts__down svg {
  margin: auto;
}

.contacts__list {
  display: flex;
}

.contacts__item {
  flex-shrink: 0;
  margin-right: 110px;
}

.contacts__text {
  line-height: 32px;
}

.contacts__text--secondary {
  opacity: 0.5;
}

.contacts__social {
  margin-left: auto;
}

/* responsive */

@media (max-width: 1440px) {
  .city-nav__back-button svg {
    display: none;
  }
}

@media (max-width: 1279px) {
  .slider__item {
    padding: 32px 0 42px;
  }

  .slider__headline {
    margin-bottom: 18px;
  }

  .slider__button {
    margin-top: 32px;
  }

  .contacts__container {
    justify-content: space-between;
    min-height: 120px;
  }

  .contacts__down {
    margin-right: 48px;
  }

  .contacts__item {
    margin-right: 48px;
  }

  .contacts__social {
    margin-left: 0;
  }

  .social__button {
    margin-right: 16px;
  }
}

@media (max-width: 959px) {
  .page-header {
    padding: 64px 0 0;
  }

  .inner .nav {
    border-bottom-color: rgba(51, 51, 51, 0.06);
  }

  .nav--open-menu {
    background-color: #ffffff;
    border-bottom: 1px solid rgba(36, 36, 36, 0.06);
  }

  .nav__container {
    height: 64px;
    max-width: calc(100% - 24px);
    margin: 0 0 0 auto;
    padding: 0;
  }

  .nav__menu {
    position: fixed;
    top: 65px;
    bottom: 0;
    left: 0;
    flex-direction: column;
    align-items: flex-start;
    width: calc(100% + 48px);
    margin: 0;
    padding: 24px 72px 28px var(--basic-gap);
    background-color: #ffffff;
    transform: translateX(100vw);
    transition-property: transform;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.34, 0, 0, 1.22);
  }

  .nav__menu::before {
    content: "";
    position: absolute;
    top: 63px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.06);
  }

  .nav--open-menu .nav__menu {
    transform: translateX(0);
  }

  .nav__tool-button {
    width: 64px;
    height: 64px;
    z-index: 21;
    border-left: 1px solid rgba(36, 36, 36, 0.06);
    outline: 0;
  }

  .nav--sticky .nav__item--button {
    display: none;
  }

  .nav--open-menu .nav__item--button {
    position: static;
    display: block;
    margin: auto auto 0;
  }

  .nav__user {
    background-color: rgba(255, 255, 255, 0);
  }

  .nav__user svg {
    display: inline;
  }

  .nav__user:focus svg,
  .nav__user:hover svg {
    fill: #242424;
  }

  .nav__burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    order: 2;
  }

  .nav__line {
    position: relative;
    display: block;
    width: 14px;
    height: 2px;
    background-color: #242424;
    transition-property: background-color, transform;
    transition-duration: 0.2s, 0.3s;
    transition-timing-function: ease-in, ease-in;
    transition-delay: 0s, 0.5s;
  }

  .nav--open-menu .nav__line {
    transform: rotate(-225deg);
  }

  .nav__line::before,
  .nav__line::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: inherit;
    transition: inherit;
  }

  .nav__line::before {
    bottom: calc(100% + 3px);
  }

  .nav__line::after {
    top: calc(100% + 3px);
  }

  .nav--open-menu .nav__line::before {
    transition-delay: 0s, 0s;
    transform: translateY(5px) rotate(90deg);
  }

  .nav--open-menu .nav__line::after {
    transition-delay: 0s, 0s;
    transform: translateY(-5px);
  }

  .nav__item {
    margin-left: 0;
    line-height: 48px;
  }

  .nav__item--button {
    order: 2;
    display: block;
    margin: auto auto 0;
    text-align: center;
  }

  .nav__link {
    display: block;
  }

  .nav__link--has-dropdown svg {
    display: none;
  }

  .slider__headline {
    font-size: 34px;
    line-height: 48px;
  }

  .description {
    padding: 66px 0 96px;
  }

  .description::after {
    display: none;
  }

  .description__headline {
    margin-bottom: 24px;
    font-size: 28px;
    line-height: 44px;
  }

  .description__button {
    margin-top: 44px;
  }

  .contacts__container {
    min-height: 64px;
  }

  .contacts__down {
    width: 44px;
    height: 44px;
  }

  .page-header .contacts__list {
    display: none;
  }

  .city-nav__item--location,
  .city-nav__link span {
    display: none;
  }
}

@media (max-width: 767px) {
  .page-header {
    background-image: url('../../img/func-hall.jpg');
  }

  .page-header__movie {
    display: none;
  }
}

@media (max-width: 666px) {
  .page-header {
    min-height: -webkit-fill-available;
  }

  .nav__logo-pic {
    width: 80px;
  }

  .city-nav {
    padding-top: 0;
    min-height: 420px;
  }

  .city-nav__container {
    display: block;
  }

  .city-nav__list {
    min-height: 64px;
    padding: 0;
  }

  .city-nav__item {
    margin: 0 40px 0 0;
  }

  .city-nav__item:last-child {
    margin: 0;
  }

  .city-nav__back-button {
    display: none;
  }

  .city-nav__headline-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    width: calc(100% - 2 * var(--basic-gap));
    min-height: 128px;
    margin: 0 auto;
    padding: var(--basic-gap) var(--basic-gap);
    text-align: center;
    background-color: #ffffff;
  }

    .city-nav__headline-wrapper::before {
      display: none;
    }

  .page-header__slider {
    flex-grow: 1;
    display: flex;
    align-items: stretch;
  }

  .slider__item {
    width: 100%;
  }

  .slider__container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .slider__headline {
    margin-bottom: 24px;
    font-size: 24px;
    line-height: 34px;
  }

  .slider__text {
    margin-bottom: 24px;
    line-height: 24px;
  }

  .slider__button {
    margin: auto auto 0;
  }

  .description {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 52px 0 0;
  }

  .description::after {
    display: block;
    height: 56px;
  }

  .description__content {
    max-width: unset;
    padding: 0;
  }

  .description__headline,
  .description__text {
    margin-left: auto;
    margin-right: auto;
  }

  .description__illustration {
    position: relative;
    width: calc(100% - 48px);
    max-height: 50vh;
    margin-top: 64px;
  }

  .description__button {
    width: 100%;
  }

  .contacts__down {
    margin-left: -14px;
    border: 0;
  }

  .page-header__contacts .contacts__social {
    display: none;
  }
}
