/* HEADER */

.page-header {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 88px 0 160px;
  color: #ffffff;
  background-color: #444444;
  background-image: url("../../img/intro-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.inner .page-header {
  display: block;
  min-height: unset;
  padding: 0;
  color: inherit;
  background-image: none;
}

.page-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333333;
  opacity: 0.8;
  pointer-events: none;
  z-index: 1;
}

.page-header__movie {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* HEADER -> navigation */

.page-header__nav {
  z-index: 3;
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.nav--sticky {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.95);
  border-bottom-color: rgba(255, 255, 255, 0);
  animation: slideDown 0.3s ease-in;
}

.nav__container {
  display: flex;
  align-items: center;
  height: 88px;
}

.nav__logo {
  margin-right: 104px;
  transition: all 0.2s ease-in;
  z-index: 21;
}

a.nav__logo:hover,
a.nav__logo:focus {
  opacity: 0.75;
}

a.nav__logo:active {
  transform: scale(0.95);
}

.nav__logo-pic {
  fill: #ffffff;
  transition: fill 0.2s ease-in;
}

.nav--sticky .nav__logo-pic {
  fill: #000000;
}

.nav--open-menu .nav__logo-pic {
  fill: #ffffff;
}

.nav__menu {
  flex-grow: 1;
  display: flex;
  align-items: center;
  z-index: 20;
}

.nav__item {
  margin-right: 42px;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__item--button {
  display: none;
}

.nav--sticky .nav__item--button {
  display: block;
  order: 2;
  margin-left: auto;
  margin-right: 0;
}

.nav__link {
  font-family: inherit;
  font-weight: 600;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.2s ease-out;
}

.nav__link:focus {
  opacity: 0.8;
}

.nav__link:active {
  opacity: 0.3;
}

.nav--sticky .nav__link {
  color: #333333;
}

.nav--open-menu .nav__link {
  color: #ffffff;
}

.nav__button {
  min-width: 288px;
  padding: 16px 24px;
}

/* HEADER -> slider */

.page-header__slider {
  z-index: 2;
}

.slider {
  position: relative;
  margin: auto 0;
}

.slider__item {
  padding: 122px 0 136px;
}

.slider__headline {
  max-width: 780px;
  margin-bottom: 34px;
  font-size: 44px;
  line-height: 64px;
}

.slider__text {
  max-width: 520px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.8);
  opacity: 0.8;
}

.slider__button {
  min-width: 288px;
  margin-top: 82px;
}

/* HEADER -> social */

.social {
  display: flex;
  align-items: center;
}

.social__button {
  width: 32px;
  height: 32px;
  margin-right: 30px;
  padding: 6px;
}

.social__button:last-child {
  margin-right: 0;
}

.social__button svg {
  fill: #ffffff;
}

.social__button:hover svg,
.social__button:focus svg {
  fill: var(--feature-color);
}

.social__button--vk:hover svg,
.social__button--vk:focus svg {
  fill: #5181b8;
}

.social__button--instagram:hover svg,
.social__button--instagram:focus svg {
  fill: url('#paint_radial');
}

.social__button--facebook:hover svg,
.social__button--facebook:focus svg {
  fill: #1877f2;
}

.social__button:focus {
  opacity: 0.5;
}

/* HEADER -> contacts */

.page-header__contacts {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  z-index: 2;
}

.contacts__container {
  display: flex;
  align-items: center;
  min-height: 159px;
}

.contacts__down {
  stroke: #ffffff;
  margin-right: 88px;
}

.contacts__down svg {
  margin: auto;
}

.contacts__list {
  display: flex;
}

.contacts__item {
  flex-shrink: 0;
  margin-right: 110px;
}

.contacts__text {
  line-height: 32px;
}

.contacts__text--secondary {
  opacity: 0.5;
}

.contacts__social {
  margin-left: auto;
}

/* responsive */

@media (max-width: 1279px) {
  .nav__menu {
    margin-left: auto;
  }

  .nav--sticky .nav__item--button {
    display: none;
  }

  .nav--open-menu .nav__item--button {
    display: block;
    margin: auto auto 0;
  }

  .slider__item {
    padding: 32px 0 42px;
  }

  .slider__headline {
    margin-bottom: 18px;
  }

  .slider__button {
    margin-top: 32px;
  }

  .contacts__container {
    justify-content: space-between;
    min-height: 120px;
  }

  .contacts__down {
    margin-right: 48px;
  }

  .contacts__item {
    margin-right: 48px;
  }

  .contacts__social {
    margin-left: 0;
  }

  .social__button {
    margin-right: 16px;
  }
}

@media (max-width: 959px) {
  .page-header {
    padding: 64px 0;
  }

  .inner .nav {
    border-bottom-color: rgba(51, 51, 51, 0.06);
  }

  .nav__container {
    height: 64px;
  }

  .nav__menu {
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    align-items: flex-start;
    width: calc(100% + 48px);
    height: 100%;
    padding: 84px 72px 28px var(--basic-gap);
    background-color: #333333;
    transform: translateX(100vw);
    transition-property: transform;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.34, 0, 0, 1.22);
  }

  .nav__menu::before {
    content: "";
    position: absolute;
    top: 63px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.06);
  }

  .nav--open-menu .nav__menu {
    transform: translateX(0);
  }

  .nav__burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    margin-left: auto;
    margin-right: -7px;
    z-index: 21;
    outline: 0;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-delay: 0.5s;
  }

  .nav--open-menu .nav__burger {
    transform: rotate(-225deg);
  }

  .nav__burger::before,
  .nav__burger::after {
    content: "";
  }

  .nav__line,
  .nav__burger::before,
  .nav__burger::after {
    display: block;
    width: 14px;
    height: 2px;
    margin-bottom: 3px;
    background-color: #ffffff;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
  }

  .nav--sticky .nav__line,
  .nav--sticky .nav__burger::before,
  .nav--sticky .nav__burger::after {
    background-color: #333333;
  }

  .nav--open-menu .nav__line,
  .nav--open-menu .nav__burger::before,
  .nav--open-menu .nav__burger::after {
    background-color: #ffffff;
  }

  .nav--open-menu .nav__line {
    transition-delay: 0.25s;
    transform: rotate(90deg);
  }

  .nav--open-menu .nav__burger::before {
    transform: translateY(5px);
  }

  .nav--open-menu .nav__burger::after {
    transform: translateY(-5px);
  }

  .nav__item {
    margin-right: 0;
  }

  .nav__item--button {
    order: 2;
    display: block;
    margin: auto auto 0;
    text-align: center;
  }

  .nav__link {
    display: block;
    font-size: 18px;
    line-height: 52px;
  }

  .slider__headline {
    font-size: 34px;
    line-height: 48px;
  }

  .contacts__container {
    min-height: 64px;
  }

  .contacts__down {
    width: 44px;
    height: 44px;
  }

  .page-header .contacts__list {
    display: none;
  }
}

@media (max-width: 767px) {
  .page-header {
    background-image: url('../../img/func-hall.jpg');
  }

  .page-header__movie {
    display: none;
  }
}

@media (max-width: 666px) {
  .page-header {
    min-height: -webkit-fill-available;
  }

  .nav__logo-pic {
    width: 80px;
  }

  .page-header__slider {
    flex-grow: 1;
    display: flex;
    align-items: stretch;
  }

  .slider__item {
    width: 100%;
  }

  .slider__container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .slider__headline {
    margin-bottom: 24px;
    font-size: 24px;
    line-height: 34px;
  }

  .slider__text {
    margin-bottom: 24px;
    line-height: 24px;
  }

  .slider__button {
    margin: auto auto 0;
  }

  .contacts__down {
    margin-left: -14px;
    border: 0;
  }

  .page-header__contacts .contacts__social {
    display: none;
  }
}
