/* MAIN */

.page-main {
  padding: 0 0 80px;
}

.location .page-main {
  padding: 0;
}

.inner .page-main {
  padding: 88px 0;
}

.page-main__container {
  position: relative;
  z-index: 4;
}

/* MAIN -> intro */

.location .intro {
  padding-bottom: 0;
}

.intro__text {
  margin-bottom: var(--basic-gap);
}

.intro__text:last-child {
  margin-bottom: 0;
}

.intro__slider {
  margin-top: 80px;
}

.intro__slides-list {
  display: flex;
}

.intro__slide {
  display: block;
  margin-right: 24px;
}

.intro__slide:last-child {
  margin-right: 0;
}

.intro__pic-wrapper {
  position: relative;
  overflow: hidden;
}

.intro__pic {
  width: 100%;
  height: 356px;
  object-fit: cover;
  transition: transform 0.25s ease-in;
}

.intro__slide:hover .intro__pic,
.intro__slide:focus .intro__pic {
  transform: scale(1.03);
}

.intro__caption-text {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.377 11.294C-.168 7.305 2.663 1 8 1s8.168 6.305 4.623 10.294L8 16.494l-4.623-5.2z' stroke='%23F06724' stroke-width='2'/%3E%3Ccircle cx='8' cy='7' r='2' stroke='%23F06724' stroke-width='2'/%3E%3C/svg%3E");
}

.intro__link {
  transition: fill 0.1s ease-in;
}

.intro__bullets {
  display: none;
  justify-content: space-between;
  margin-top: 56px;
  background-color: rgba(36, 36, 36, 0.1);
}

.intro__bullet {
  width: 25px;
  flex-grow: 1;
  height: 2px;
  display: block;
  background-color: rgba(255, 255, 255, 0);
}

.intro__bullet.glide__bullet--active {
  background-color: #242424;
}

.intro__column {
  width: 520px;
  max-width: 46%;
}

.intro__column--border {
  position: relative;
  padding-left: 28px;
}

.intro__column--border::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 4px;
  height: calc(100% - 12px);
  margin: auto;
  background-color: var(--copy-color);
}

/* MAIN -> glide bullets */

.glide__bullet {
  position: relative;
}

.glide__bullet::after {
  content: "";
  position: absolute;
  top: 0;
  left: 99%;
  bottom: 0;
  width: 100%;
  background-color: inherit;
  transform: scaleX(0);
  transition: transform 0.2s ease-in;
}

.glide__bullet--switching:not(:last-child)::after {
  transform: scaleX(1);
  transform-origin: left;
}

.glide__bullet--switching-back:not(:first-child)::after {
  transform: scaleX(1);
  right: 99%;
  left: initial;
  transform-origin: right;
}

/* MAIN -> rooms */

.rooms {
  position: relative;
  padding-bottom: 0;
}

.rooms__content {
  position: relative;
}

.rooms__headline {
  max-width: 568px;
}

.rooms__slider {
  margin-top: 80px;
}

.location .rooms__slider {
  margin-top: 0;
}

.rooms__slider .rooms__track {
  position: relative;
  overflow: visible;
}

.rooms__slides-list {
  display: flex;
  cursor: grab;
}

.rooms__slide {
  position: relative;
}

.rooms__pic-wrapper {
  height: 100%;
}

.rooms__pic {
  width: 100%;
  height: 100%;
  max-height: 580px;
  object-fit: cover;
}

.rooms__caption-text {
  background-image: url("data:image/svg+xml,%3Csvg width='19' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23F06724' d='M1 13h14v2H1z'/%3E%3Cpath d='M2 2h12v3A6 6 0 012 5V2zM14 4h2.5a1.5 1.5 0 010 3H14V4z' stroke='%23F06724' stroke-width='2'/%3E%3C/svg%3E");
  z-index: 2;
}

.rooms__caption-text--room {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 8H5v2h10V8z' fill='%23F06724'/%3E%3Cpath d='M11 9H9v11h2V9zM1 2a2 2 0 104 0 2 2 0 00-4 0zM15 2a2 2 0 104 0 2 2 0 00-4 0zM3 5H1v9h3v6h2v-8H3V5zM17 5v7h-3v8h2v-6h3V5h-2z' fill='%23F06724'/%3E%3C/svg%3E");
}

.rooms__caption-text--work {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M1 12a1 1 0 011-1h16a1 1 0 110 2H2a1 1 0 01-1-1zM9 13h2v7H9z' fill='%23F06724'/%3E%3Cpath d='M4 13V4a3 3 0 013-3h6a3 3 0 013 3v9' stroke='%23F06724' stroke-width='2'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.586 20l5.707-5.707L10 15l.707-.707L16.414 20h-2.828L10 16.414 6.414 20H3.586z' fill='%23F06724'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Cpath fill='%23fff' d='M0 0h20v20H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}

.rooms__caption-text--cabins {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23fff' d='M0 0h20v20H0z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 2H4v16h12V2zM4 0H2v20h16V0H4z' fill='%23F06724'/%3E%3Cpath fill='%23F06724' d='M0 18h20v2H0z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 8a2 2 0 012-2h2v2h-2v4h2v2h-2a2 2 0 01-2-2V8z' fill='%23F06724'/%3E%3C/svg%3E");
}

.rooms__caption-text--chill {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10h2v2h2V4H9v4H5v4h2v-2z' fill='%23F06724'/%3E%3Cpath d='M0 0v16h16V0H0zm14 14H2V2h12v12z' fill='%23F06724'/%3E%3C/svg%3E");
}

.rooms__caption-text--gym {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 18l-6-5V8l5.5-3.5M3 18l6-5V8L3.5 4.5' stroke='%23F06724' stroke-width='2'/%3E%3Ccircle cx='10' cy='3' r='2' fill='%23F06724'/%3E%3C/svg%3E");
}

/* MAIN -> slider footer */

.slider-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 56px;
  margin-right: -14px;
  padding: 12px 0;
}

.slider-footer__counter {
  margin-right: 120px;
  font-size: 16px;
  line-height: 32px;
  color: rgba(0, 0, 0, 0.4);
}

.slider-footer__counter span {
  margin: 0 8px;
}

.slider-footer__index {
  color: #000000;
}

.slider-footer__bullets {
  display: flex;
  flex-grow: 1;
  background-color: rgba(36, 36, 36, 0.1);
  overflow: hidden;
}

.slider-footer__bullet {
  width: 24px;
  flex-grow: 1;
  height: 2px;
  display: block;
  background-color: rgba(255, 255, 255, 0);
}

.slider-footer__bullet.glide__bullet--active {
  background-color: #242424;
}

.slider-footer__bullet--tablet,
.slider-footer__bullet--mobile {
  display: none;
}

.slider-footer__controls {
  margin-left: 38px;
}

/* MAIN -> amenities */

.amenities {
  position: relative;
  padding: 66px 0 88px;
  background-color: #f9f9f9;
  z-index: 2;
}

.amenities::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 100%;
  left: 0;
  height: 211px;
  background-color: inherit;
}

.amenities__headline {
  max-width: 300px;
  margin-bottom: 18px;
}

.amenities__categories-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.amenities__category {
  display: flex;
  align-items: center;
  width: auto;
  min-height: 48px;
  padding-left: 72px;
  font-family: "Mont", "Helvetica", sans-serif;
  font-weight: 800;
  font-size: 22px;
  line-height: 1em;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 48px 48px;
  cursor: pointer;
  transition: opacity 0.35s ease-in;
}

.amenities__category--work {
  background-image: url("../../img/amenities-work.svg");
}

.amenities__category--art {
  background-image: url("../../img/amenities-art.svg");
}

.amenities__category--people {
  background-image: url("../../img/amenities-people.svg");
}

.amenities__category--sport {
  background-image: url("../../img/amenities-sport.svg");
}

.amenities__category--chill {
  background-image: url("../../img/amenities-chill.svg");
}

.amenities__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: var(--basic-gap);
  row-gap: var(--basic-gap);
  grid-auto-rows: 1fr;
  text-align: left;
}

.amenities__item {
  position: relative;
  display: flex;
  align-items: flex-start;
  min-width: 0;
  min-height: 0;
  padding: 36px 36px;
  background-color: #ffffff;
  transition: opacity 0.25s ease-out;
}

.amenities__pic {
  flex-shrink: 0;
  margin-right: 24px;
}

.amenities__name {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.amenities__show-more {
  display: none;
  margin-bottom: 28px;
}

.amenities__show-more,
.amenities__button {
  min-width: 288px;
}

/* MAIN -> meetups */

.meetups {
  padding-top: 0;
}

.meetups__illustration {
  width: 100%;
  height: 513px;
  object-fit: cover;
  margin-bottom: -90px;
}

.meetups__wrapper {
  position: relative;
  width: 1432px;
  max-width: calc(100% - (2 * var(--basic-gap)));
  margin: 0 auto;
  padding: 80px 0;
  background-color: #e4f4fe;
}

.meetups__container {
  max-width: calc(100% - 72px);
}

.meetups__text {
  margin-bottom: 20px;
}

.meetups__text:last-child {
  margin-bottom: 0;
}

/* MAIN -> events */

.events {
  padding: 42px 0 0;
  z-index: 2;
}

.location .events {
  position: relative;
  background-color: #f9f9f9;
}

.location .events::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 100%;
  left: 0;
  height: 211px;
  background-color: inherit;
}

.events__headline {
  max-width: 640px;
}

.events__text {
  max-width: 800px;
}

.events__slider .events__track {
  position: relative;
  overflow: visible;
}

.events__slides-list {
  display: flex;
  align-items: stretch;
  margin-top: 80px;
  cursor: grab;
}

.events__slide {
  position: relative;
  flex-shrink: 0;
  width: 496px;
  height: 396px;
  margin-right: 24px;
  background-color: #333333;
  outline: 0;
  overflow: hidden;
}

.events__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 36px 36px 110px;
}

.events__tag {
  max-width: 66%;
  padding: 15px 20px 14px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.events__tag--pics {
  max-width: 30%;
  padding-left: 52px;
  background-image: url("../../img/pic.svg");
  background-repeat: no-repeat;
  background-position: 18px center;
  background-size: 20px 20px;
}

.events__pic-wrapper {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.events__pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.25s ease-in;
}

.events__slide:hover .events__pic,
.events__slide:focus .events__pic {
  transform: scale(1.03);
}

.events__caption-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.events__caption-text--work {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M0 11a1 1 0 011-1h14a1 1 0 110 2H1a1 1 0 01-1-1z' fill='%23F06724'/%3E%3Cpath fill='%23F06724' d='M7 10h2v6H7z'/%3E%3Cpath d='M3 10V4a3 3 0 013-3h4a3 3 0 013 3v6' stroke='%23F06724' stroke-width='2'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.585 16L8 13.415 5.415 16H2.585l4.707-4.707L8 12l.707-.707L13.414 16h-2.829z' fill='%23F06724'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Cpath fill='%23fff' d='M0 0h16v16H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}

.events__caption-text--rooms {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 7H4v2h8V7zM9 9H7v7h2V9zM1 2a2 2 0 104 0 2 2 0 00-4 0zM11 2a2 2 0 104 0 2 2 0 00-4 0z' fill='%23F06724'/%3E%3Cpath d='M3 5H1v7h3v4h2v-6H3V5zM13 5v5h-3v6h2v-4h3V5h-2z' fill='%23F06724'/%3E%3C/svg%3E");
}

.events__caption-text--chill {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10h2v2h2V4H9v4H5v4h2v-2z' fill='%23F06724'/%3E%3Cpath d='M0 0v16h16V0H0zm14 14H2V2h12v12z' fill='%23F06724'/%3E%3C/svg%3E");
}

.events__caption-text--events {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.5 15L9 10V7l5-3M1.5 15L7 10V7L2 4' stroke='%23F06724' stroke-width='2'/%3E%3Ccircle cx='8' cy='2' r='2' fill='%23F06724'/%3E%3C/svg%3E");
}

.events__caption-text--lounge {
  background-image: url("data:image/svg+xml,%3Csvg width='19' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23F06724' d='M1 13h14v2H1z'/%3E%3Cpath d='M2 2h12v3A6 6 0 012 5V2zM14 4h2.5a1.5 1.5 0 010 3H14V4z' stroke='%23F06724' stroke-width='2'/%3E%3C/svg%3E");
}

/* MAIN -> organize */

.organize {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 94px;
}

.organize__slider {
  position: relative;
  flex-shrink: 0;
  width: 496px;
  margin-top: 10px;
  margin-right: 104px;
}

.organize__slider .organize__track {
  overflow: hidden;
}

.organize__gallery-list {
  display: flex;
}

.organize__gallery-item {
  position: relative;
}

.organize__gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.organize__footer.slider-footer {
  position: absolute;
  bottom: 36px;
  right: 36px;
  min-height: unset;
  padding: 0;
}


.organize__counter {
  display: none;
}

.organize__controls {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: var(--basic-gap);
}

.organize__control {
  width: 64px;
  height: 64px;
  background-color: #ffffff;
  opacity: 1;
}

.organize__control:disabled {
  opacity: 1;
}

.organize__control svg {
  opacity: 0.5;
  transition: opacity 0.2s ease-out;
}

.organize__control:hover svg,
.organize__control:focus svg {
  opacity: 1;
}

.organize__control:disabled svg {
  opacity: 0.1;
}

.organize__info {
  flex-grow: 1;
}

.organize__headline {
  max-width: 460px;
}

.organize__list {
  margin-top: 56px;
}

.organize__item {
  position: relative;
  margin-bottom: 24px;
  padding-left: 46px;
}

.organize__item:last-child {
  margin-bottom: 0;
}

.organize__pic {
  position: absolute;
  top: 4px;
  left: 0;
}

/* MAIN -> prices */

.location .prices {
  padding-bottom: 88px;
  background-color: #f9f9f9;
}

.prices__wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: var(--basic-gap);
}

.prices__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--basic-gap);
  margin-top: 98px;
  text-align: left;
}

.prices__item {
  display: flex;
  flex-direction: column;
  align-self: start;
  height: 100%;
  max-width: 420px;
  min-height: 412px;
  padding: 32px 36px 36px;
  background-color: #ffffff;
  box-shadow: 0 4px 10px 0 rgba(51, 51, 51, 0.03);
  transition: box-shadow 0.2s ease-in;
}

.prices__item:hover {
  box-shadow: 0 15px 40px 0 rgba(15, 15, 21, 0.1);
}

.prices__name {
  margin-bottom: 12px;
  font-weight: 800;
  font-size: 22px;
  line-height: 34px;
}

.prices__description {
  margin: 0 -1px 30px;
}

.prices__plans {
  display: flex;
  flex-wrap: wrap;
}

.prices__amount {
  margin-right: var(--basic-gap);
  font-size: 14px;
  line-height: 22px;
}

.prices__amount:last-child {
  margin-right: 0;
}

.prices__amount--single-line {
  margin-bottom: 42px;
}

.prices__amount b {
  display: inline;
  vertical-align: baseline;
  font-family: "Mont", "Helvetica", sans-serif;
  font-weight: 800;
  font-size: 22px;
  line-height: 1em;
}

.prices__multiplier {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  width: 10px;
  height: 12px;
  margin: 0 4px;
}

.prices__multiplier::before,
.prices__multiplier::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #333333;
  transform-origin: center;
}

.prices__multiplier::before {
  transform: rotate(45deg);
}

.prices__multiplier::after {
  transform: rotate(-45deg);
}

.prices__note {
  margin-top: 14px;
}

.prices__footnote {
  margin-top: 38px;
  font-weight: 800;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.01em;
}

.prices__accent {
  margin: 6px 0 36px;
  font-weight: 800;
  font-size: 18px;
  line-height: 34px;
}

.prices__amenities {
  margin: 30px 0 16px;
  padding-top: 30px;
  border-top: 1px solid rgba(51, 51, 51, 0.1);
}

.prices__amenities-item {
  margin-bottom: 12px;
}

.prices__amenities-item svg {
  display: inline-block;
  vertical-align: middle;
  margin-right: 12px;
}

.prices__button {
  width: 100%;
  margin-top: auto;
}

/* MAIN -> toggler */

.toggler {
  display: flex;
  border: 1px solid #ebebeb;
}

.toggler__label {
  width: 50%;
  padding: 11px 12px;
  font: inherit;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  background-color: #ffffff;
  border-right: 1px solid #ebebeb;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.toggler__label:last-of-type {
  border-right: 0;
}

.toggler__input:checked + .toggler__label {
  background-color: rgb(51, 51, 51, 0.04);
}

.toggler__input:not(:checked) + .toggler__label {
  color: rgba(51, 51, 51, 0.6);
}

.toggler__input:not(:checked) + .toggler__label:hover {
  color: #333333;
}

/* MAIN -> speech */

.speech__wrapper {
  position: relative;
  left: 50%;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding-right: calc((100vw - var(--container-width)) / 2);
  transform: translateX(-50%);
}

.speech__pic {
  margin-right: 104px;
  object-fit: cover;
}

.speech__headline {
  max-width: 288px;
}

.speech__blockquote {
  margin-bottom: 72px;
}

.speech__text {
  margin-bottom: 22px;
  font-size: 18px;
  line-height: 28px;
}

.speech__text:last-child {
  margin-bottom: 0;
}

.speech__author {
  display: flex;
  align-items: center;
}

.speech__author-pic {
  width: 64px;
  height: 64px;
  object-fit: cover;
  margin-right: 36px;
  border-radius: 50%;
}

.speech__author i {
  display: block;
  font-weight: 600;
}

/* MAIN -> guide */

.guide__pic {
  flex-shrink: 0;
  width: 520px;
  max-width: 100%;
  margin-right: 104px;
}

.guide__pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.guide__list {
  counter-reset: li;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: var(--basic-gap);
  row-gap: var(--basic-gap);
}

.guide__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 28px 36px 30px;
  border: 2px solid rgba(51, 51, 51, 0.1);
}

.guide__item::before {
  content: counter(li) ".";
  counter-increment: li;
  display: block;
  margin-bottom: 22px;
  font-family: "Mont", "Helvetica", sans-serif;
  font-weight: 600;
  font-size: 34px;
  line-height: 1em;
}

.guide__button {
  width: 288px;
  margin-top: 104px;
}

/* MAIN -> feedback */

.feedback {
  border-top: 1px solid rgba(51, 51, 51, 0.1);
}

.feedback__container {
  position: relative;
}

.feedback__headline {
  margin-bottom: 90px;
}

.feeback__controls {
  position: absolute;
  top: 0;
  right: 0;
}

.feedback__list {
  display: flex;
  align-items: flex-start;
}

.feedback__item {
  width: 808px;
  max-width: 100%;
  padding: 36px 36px 32px;
  background-color: #ffffff;
  box-shadow: 0 4px 10px 0 rgba(51, 51, 51, 0.03);
}

.feedback__footer.slider-footer {
  position: static;
  min-height: unset;
  padding: 0;
}

.feedback__counter {
  display: none;
}

.feedback__header {
  position: relative;
  min-height: 64px;
  margin-bottom: 30px;
  padding-left: 100px;
}

.feedback__pic {
  position: absolute;
  top: 0;
  left: 0;
  width: 64px;
  height: 64px;
  object-fit: cover;
  border-radius: 50%;
}

.feedback__name {
  color: rgba(51, 51, 51, 0.6);
}

.feedback__name i {
  display: block;
}

.feedback__text {
  margin-bottom: 20px;
}

.feedback__link {
  padding-right: 20px;
  font: inherit;
  font-weight: 600;
  color: var(--feature-color);
  background-image: url("../../img/icon-angle-arrow-right.svg");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 16px 16px;
}

/* responsive */

@media (max-width: 1279px) {
  .rooms__slider {
    margin-top: 42px;
  }

  .slider-footer__bullet--tablet {
    display: block;
  }

  .amenities {
    padding-bottom: 56px;
  }

  .amenities__category {
    font-size: 18px;
  }

  .organize__slider {
    margin-right: 64px;
  }

  .organize__control {
    width: 44px;
    height: 44px;
  }

  .speech__wrapper {
    padding-right: var(--basic-gap);
  }

  .speech__pic {
    width: 40%;
    margin-right: 64px;
  }

  .guide__pic {
    width: 40%;
    margin-right: 24px;
  }

  .guide__button {
    margin-top: 52px;
  }

  .feedback__headline {
    margin-bottom: 44px;
  }

  .prices__list {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}

@media (max-width: 959px) {
  .inner .page-main {
    padding: 64px 0;
  }

  .amenities__categories-list {
    display: none;
  }

  .amenities__list {
    grid-template-columns: 1fr;
  }

  .amenities__pic {
    margin-right: 20px;
  }

  .amenities__text {
    margin-top: -4px;
  }

  .events__slides-list {
    margin-top: 52px;
  }

  .events__slide {
    height: 320px;
  }

  .events__content {
    display: none;
  }

  .organize {
    margin-left: calc(-1 * var(--basic-gap));
    margin-right: calc(-1 * var(--basic-gap));
    padding-left: var(--basic-gap);
    padding-right: var(--basic-gap);
    background-color: #f0f2f5;
  }

  .organize__slider {
    width: 420px;
    max-width: 50%;
  }

  .organize__list {
    margin-top: 30px;
  }

  .organize__item {
    margin-bottom: 16px;
  }

  .prices__list {
    margin-top: 44px;
  }

  .prices__item {
    padding: 35px 24px 24px;
  }

  .prices__name {
    margin-bottom: 11px;
  }

  .prices__toggler {
    margin-top: 36px;
  }

  .prices__button {
    padding: 16px 12px;
  }

  .speech__wrapper {
    left: 0;
    width: 100%;
    transform: none;
  }

  .speech__blockquote {
    margin-bottom: 36px;
  }

  .speech__pic {
    width: 46%;
    margin-right: 44px;
  }

  .guide__wrapper {
    flex-direction: column;
  }

  .guide__pic {
    width: 520px;
    margin: 0 auto var(--basic-gap);
  }

  .guide__button {
    margin-top: var(--basic-gap);
  }

  .feedback__track {
    overflow: hidden;
  }
}

@media (max-width: 767px) {
  .intro__bullets {
    display: flex;
  }

  .slider-footer {
    margin-right: 0;
  }

  .slider-footer__controls {
    display: none;
  }

  .slider-footer__bullet--mobile {
    display: block;
  }

  .events__content {
    display: none;
  }

  .organize {
    padding-top: 244px;
  }

  .organize__info {
    position: static;
  }

  .organize__headline {
    position: absolute;
    top: 40px;
    left: var(--basic-gap);
    max-width: 640px;
  }

  .organize__slider {
    margin-right: 44px;
  }

  .prices__wrapper {
    grid-template-columns: 1fr;
    row-gap: 24px;
  }

  .prices__list {
    grid-template-columns: 1fr;
    row-gap: 24px;
    max-width: 400px;
    margin: 36px auto 0;
  }

  .prices__item {
    min-height: unset;
  }

  .speech__wrapper {
    position: static;
    flex-direction: column;
  }

  .speech__pic {
    width: 520px;
    margin: 0 auto 30px;
  }

  .speech__headline {
    max-width: initial;
  }
}

@media (max-width: 666px) {
  .inner .page-main {
    padding: 64px 0 0;
  }

  .intro__column {
    max-width: 100%;
  }

  .intro__column--border {
    margin-top: 30px;
  }

  .slider-footer__counter {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100px;
    height: 32px;
    margin: auto;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .events__slides-list {
    margin-top: 36px;
  }

  .amenities__headline {
    max-width: 384px;
    margin: 0 auto 18px;
  }

  .amenities__list {
    margin-top: 45px;
  }

  .organize {
    flex-direction: column;
    background-image: linear-gradient(to bottom, #f9f9f9 0%, #f9f9f9 40%, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0) 100%)
  }

  .organize__slider {
    width: 400px;
    max-width: 100%;
    margin: 0 auto 64px;
  }

  .organize__footer.slider-footer {
    position: relative;
    bottom: 0;
    right: 0;
    padding: 12px 0;
  }

  .organize__control {
    background-color: rgba(255, 255, 255, 0);
    border: 0;
  }

  .organize__counter {
    display: block;
  }

  .organize__headline {
    max-width: 440px;
  }

  .feedback {
    padding-bottom: 0;
  }

  .feedback__footer.slider-footer {
    position: relative;
    padding: 10px 0;
  }

  .feedback__counter {
    display: block;
  }

  .feeback__controls {
    position: static;
  }

  .location .prices {
    padding-bottom: var(--basic-gap);
  }

  .prices__headline--single {
    display: none;
  }

  .meetups__illustration {
    height: 288px;
  }

  .meetups__wrapper {
    padding: 48px 0;
  }
}

@media (max-width: 519px) {
  .amenities {
    padding-bottom: 44px;
  }

  .amenities__show-more,
  .amenities__button {
    display: block;
    width: 100%;
    max-width: 340px;
    margin-left: auto;
    margin-right: auto;
  }

  .speech__text {
    font-size: 16px;
    line-height: 28px;
  }

  .guide__list {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }

  .feedback__header {
    padding-top: 100px;
    padding-left: 0;
  }
}

@media (max-width: 414px) {
  .amenities__list {
    grid-auto-rows: auto;
  }
}
