/* POPUP FORM */

.popup {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100% + 48px);
  z-index: 31;
  transform: translateY(-100vh);
  transition: transform 0.3s cubic-bezier(0.34, 0, 0, 1.22);
}

.popup--shown {
  transform: translateY(0);
}

.popup__backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333333;
}

.popup__form {
  position: relative;
  width: 648px;
  max-width: 100%;
  max-height: 100vh;
  margin-top: 48px;
  background-color: #ffffff;
  overflow: auto;
}

.popup__top {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 12px var(--basic-gap);
  border-bottom: 1px solid rgba(51, 51, 51, 0.06);
  z-index: 2;
}

.popup__logo {
  display: none;
}

.popup__close {
  width: 44px;
  height: 44px;
  margin-left: auto;
  margin-right: -14px;
  outline: 0;
}

.popup__close svg {
  stroke: #333333;
  display: inline-block;
  transition: transform 0.2s ease-out;
}

.popup__close:hover svg,
.popup__close:focus svg {
  transform: rotate(180deg);
}

.popup__info {
  padding: 28px var(--basic-gap);
  border-bottom: 1px solid rgba(51, 51, 51, 0.06);
}

.popup__summary {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 19px 20px;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.01em;
  border: 1px solid rgba(51, 51, 51, 0.1);
}

.popup__pic {
  width: 65px;
  height: 44px;
  object-fit: cover;
}

.popup__pic,
.popup__description {
  margin-right: 20px;
}

.popup__accent {
  font-weight: 500;
}

.popup__text {
  opacity: 0.8;
}

.popup__price {
  margin-left: auto;
  text-align: right;
}

.popup__selects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
  margin-top: var(--basic-gap);
}

.popup__selects .popup__group {
  width: 100%;
  margin: 0;
}

.popup__content {
  padding: 20px var(--basic-gap) var(--basic-gap);
}

.popup__headline {
  font-weight: 800;
  font-size: 22px;
  line-height: 34px;
}

.inner .popup__headline {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.popup__subtitle {
  margin-bottom: 5px;
  font-weight: 200;
  font-size: 14px;
  line-height: 24px;
}

.popup__wrapper {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.inner .popup__wrapper {
  margin-top: 20px;
}

.popup__toggler {
  width: 100%;
  margin-bottom: 16px;
}

.popup__group {
  width: 45%;
  flex-grow: 1;
  margin-right: 16px;
  margin-bottom: 16px;
}

.popup__group:nth-of-type(even) {
  margin-right: 0;
}

.popup__group--message {
  width: 100%;
  margin-bottom: 24px;
  margin-right: 0;
}

.inner .popup__group--message {
  margin-bottom: 0;
}

.popup__juk {
  position: absolute;
  bottom: 4px;
  width: 36px;
  height: 36px;
  font-size: 16px;
  color: #333333;
  outline: 0;
  opacity: 0.4;
  transition: opacity 0.2s ease-in;
}

.popup__juk:hover,
.popup__juk:focus {
  opacity: 1;
}

.popup__juk:active {
  opacity: 0.2;
}

.popup__juk--minus {
  left: 8px;
}

.popup__juk--plus {
  right: 8px;
}

.popup__actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.popup__button {
  width: 45%;
  flex-grow: 1;
  margin-right: 24px;
}

.popup__button:nth-child(even) {
  margin-right: 0;
}

.popup__footer {
  width: 100%;
  margin-top: 24px;
}

.inner .popup__footer {
  margin-bottom: 24px;
}

.popup__checkmark-label {
  position: relative;
  display: block;
  padding-left: 35px;
}

.popup__checkmark-label::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(51, 51, 51, 0.15);
  transition: border-color 0.2s ease-in;
}

.popup__checkmark-label:hover::before,
.popup__checkmark:focus ~ .popup__checkmark-label::before {
  border-color: rgba(51, 51, 51, 0.55);
}

.popup__checkmark:checked ~ .popup__checkmark-label::before {
  background-image: url("../../img/icon-checkmark.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px auto;
}

.popup__checkmark-label a {
  font: inherit;
  color: var(--feature-color);
}

.popup__errors {
  padding: 20px;
  font: inherit;
  color: #ffffff;
  background: var(--secondary-feature-color) ;
}

/* responsive */

@media (max-width: 519px) {
  .popup {
    align-items: flex-start;
  }

  .popup__logo {
    fill: #000000;
    display: block;
  }

  .popup__content {
    padding-bottom: 64px;
  }

  .popup__group {
    width: 100%;
    margin-right: 0;
  }

  /* .popup__label span {
    display: none;
  } */

  .popup__actions {
    flex-direction: column;
  }

  .popup__button {
    width: 100%;
    margin: 0 0 16px;
  }

  .popup__button:last-of-type {
    margin-bottom: 0;
  }
}

/* POPUP SLIDER */

.popup-slider {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh + 48px);
  padding-bottom: 48px;
  color: #ffffff;
  background-color: #333333;
  z-index: 31;
  transform: translateY(100vh);
  transition: transform 0.3s cubic-bezier(0.34, 0, 0, 1.22);
}

.popup-slider--shown {
  transform: translateY(0);
}

.popup-slider__container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.popup-slider__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 62px 0 auto;
}

.popup-slider__close {
  outline: 0;
  opacity: 0.4;
  transition: opacity 0.2s ease-out;
}

.popup-slider__close:hover,
.popup-slider__close:focus {
  opacity: 1;
}

.popup-slider__close svg {
  stroke: #ffffff;
}

.popup-slider__headline {
  font-weight: 800;
  font-size: 22px;
  line-height: 32px;
}

.popup-slider__wrapper {
  display: flex;
  flex-direction: column;
}

.popup-slider__list {
  display: flex;
}

.popup-slider__pic {
  width: 1120px;
  height: 640px;
  object-fit: cover;
  background-color: rebeccapurple;
}

video.popup-slider__pic {
  background-image: url('../../img/func-hall.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.popup-slider .slider-footer__counter {
  color: rgba(255, 255, 255, 0.4);
}

.popup-slider .slider-footer__index {
  color: #ffffff;
}

.popup-slider svg {
  fill: #ffffff;
}

/* responsive */

@media (max-width: 959px) {
  .popup-slider__top {
    margin: 28px 0 18px;
  }

  .popup-slider__headline {
    font-size: 16px;
    line-height: 26px;
  }

  .popup-slider__wrapper {
    flex-grow: 1;
  }

  .popup-slider__track {
    overflow: hidden;
  }

  .popup-slider__pic {
    height: 500px;
  }
}

@media (max-width: 812px) and (min-width: 568px) {
  .popup-slider__wrapper {
    flex-grow: 0;
    position: relative;
  }

  .popup-slider__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }
}

@media (max-width: 767px) {
  .popup-slider__track {
    max-height: 100%;
  }

  .popup-slider__list {
    height: 100%;
  }

  .popup-slider__pic {
    height: 320px;
    max-height: 100%;
  }

  video.popup-slider__pic source {
    display: none;
  }
}

@media (max-width: 666px) {
  .popup__summary {
    position: relative;
    flex-direction: column;
    padding-left: 105px;
  }

  .popup__selects {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .popup__selects .popup__group {
    max-width: 400px;
  }

  .popup__pic {
    position: absolute;
    top: 20px;
    left: 20px;
  }

  .popup__description .popup__accent {
    margin-bottom: 10px;
  }

  .popup__price {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0 0;
    text-align: left;
  }
}

/* react modal modification */

.ReactModal__Overlay {
  background-color: #333333 !important;
  z-index: 4;
}

.ReactModal__Content {
  background-color: rgba(255, 255, 255, 0) !important;
  border: 0 !important;
}
