/* POPUP FORM */

.popup {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100% + 48px);
  z-index: 31;
  transform: translateY(-100vh);
  transition: transform 0.3s cubic-bezier(0.34, 0, 0, 1.22);
}

.popup--shown {
  transform: translateY(0);
}

.popup__backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333333;
}

.popup__form {
  position: relative;
  width: 648px;
  max-width: 100%;
  max-height: 100vh;
  margin-top: 48px;
  background-color: #ffffff;
  overflow: auto;
}

.popup__top {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 12px var(--basic-gap);
  border-bottom: 1px solid rgba(51, 51, 51, 0.06);
  z-index: 2;
}

.popup__logo {
  display: none;
}

.popup__close {
  width: 44px;
  height: 44px;
  margin-left: auto;
  margin-right: -14px;
  outline: 0;
}

.popup__close svg {
  stroke: #333333;
  display: inline-block;
  transition: transform 0.2s ease-out;
}

.popup__close:hover svg,
.popup__close:focus svg {
  transform: rotate(180deg);
}

.popup__content {
  padding: 35px var(--basic-gap) 28px;
}

.popup__headline {
  margin-bottom: 35px;
  font-weight: 800;
  font-size: 22px;
  line-height: 34px;
}

.popup__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.popup__toggler {
  width: 100%;
  margin-bottom: 16px;
}

.popup__group {
  position: relative;
  width: 45%;
  flex-grow: 1;
  margin-right: 16px;
  margin-bottom: 16px;
}

.popup__group:nth-of-type(even) {
  margin-right: 0;
}

.popup__group--message {
  width: 100%;
  margin-bottom: 24px;
  margin-right: 0;
}

.popup__input {
  width: 100%;
  padding: 32px 20px 10px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  color: inherit;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgba(51, 51, 51, 0.1);
  border-radius: 0;
  outline: 0;
  -webkit-appearance: none;
  transition: border-color 0.2s ease-in;
}

.popup__input:focus {
  border-color: rgba(51, 51, 51, 0.3);
}

.popup__input--select {
  height: 100%;
  padding-right: 56px;
  background-image: url("../../img/icon-angle-arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  background-size: 16px auto;
}

.popup__input--message {
  height: 140px;
}

.popup__label {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 20px;
  height: 14px;
  margin: auto 0;
  font-size: 14px;
  line-height: 1em;
  color: rgba(51, 51, 51, 0.3);
  pointer-events: none;
  transition: all 0.3s ease-out;
  transform-origin: left;
}

.popup__input:focus ~ .popup__label,
.popup__input:not(:placeholder-shown) ~ .popup__label,
.popup__input--select ~ .popup__label {
  color: rgba(51, 51, 51, 0.6);
  transform: scale(0.9) translateY(-12px);
}

.popup__group--message .popup__label {
  top: 25px;
  bottom: unset;
  padding-right: 24px;
}

.popup__actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.popup__button {
  width: 45%;
  flex-grow: 1;
  margin-right: 24px;
}

.popup__button:nth-child(even) {
  margin-right: 0;
}

.popup__footer {
  width: 100%;
  margin-top: 24px;
}

.popup__checkmark-label {
  position: relative;
  display: block;
  padding-left: 38px;
}

.popup__checkmark-label::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(51, 51, 51, 0.15);
  transition: border-color 0.2s ease-in;
}

.popup__checkmark-label:hover::before,
.popup__checkmark:focus ~ .popup__checkmark-label::before {
  border-color: rgba(51, 51, 51, 0.55);
}

.popup__checkmark:checked ~ .popup__checkmark-label::before {
  background-image: url("../../img/icon-checkmark.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px auto;
}

.popup__checkmark-label a {
  font: inherit;
  color: var(--feature-color);
}

/* responsive */

@media (max-width: 519px) {
  .popup {
    align-items: flex-start;
  }

  .popup__logo {
    fill: #000000;
    display: block;
  }

  .popup__content {
    padding-bottom: 64px;
  }

  .popup__group {
    width: 100%;
    margin-right: 0;
  }

  .popup__label span {
    display: none;
  }

  .popup__actions {
    flex-direction: column;
  }

  .popup__button {
    width: 100%;
    margin: 0 0 16px;
  }

  .popup__button:last-of-type {
    margin-bottom: 0;
  }
}

/* PAGECLIP */

.pageclip-form__success {
  background-color: #ffffff;
}

/* POPUP SLIDER */

.popup-slider {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh + 48px);
  padding-bottom: 48px;
  color: #ffffff;
  background-color: #333333;
  z-index: 31;
  transform: translateY(100vh);
  transition: transform 0.3s cubic-bezier(0.34, 0, 0, 1.22);
}

.popup-slider--shown {
  transform: translateY(0);
}

.popup-slider__container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.popup-slider__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 62px 0 auto;
}

.popup-slider__close {
  outline: 0;
  opacity: 0.4;
  transition: opacity 0.2s ease-out;
}

.popup-slider__close:hover,
.popup-slider__close:focus {
  opacity: 1;
}

.popup-slider__close svg {
  stroke: #ffffff;
}

.popup-slider__headline {
  font-weight: 800;
  font-size: 22px;
  line-height: 32px;
}

.popup-slider__wrapper {
  display: flex;
  flex-direction: column;
}

.popup-slider__list {
  display: flex;
}

.popup-slider__pic {
  width: 1120px;
  height: 640px;
  object-fit: cover;
}

.popup-slider .slider-footer__counter {
  color: rgba(255, 255, 255, 0.4);
}

.popup-slider .slider-footer__index {
  color: #ffffff;
}

.popup-slider svg {
  fill: #ffffff;
}

/* responsive */

@media (max-width: 959px) {
  .popup-slider__top {
    margin: 28px 0 18px;
  }

  .popup-slider__headline {
    font-size: 16px;
    line-height: 26px;
  }

  .popup-slider__wrapper {
    flex-grow: 1;
  }

  .popup-slider__track {
    overflow: hidden;
  }

  .popup-slider__pic {
    height: 500px;
  }
}

@media (max-width: 812px) and (min-width: 568px) {
  .popup-slider__wrapper {
    flex-grow: 0;
    position: relative;
  }

  .popup-slider__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }
}

@media (max-width: 767px) {
  .popup-slider__track {
    max-height: 100%;
  }

  .popup-slider__list {
    height: 100%;
  }

  .popup-slider__pic {
    height: 320px;
    max-height: 100%;
  }
}
