.top {
  padding: 50px 0 64px;
}

.top__text {
  max-width: 824px;
  margin-bottom: 36px;
  font-size: 22px;
  line-height: 36px;
}

.top__list {
  display: flex;
  justify-content: space-between;
}

.top__item {
  position: relative;
  width: 47%;
  padding-left: 25px;
}

.top__item::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 6px;
  height: 6px;
  background-color: #333333;
  border-radius: 50%;
}

.top__filters {
  display: flex;
  flex-wrap: wrap;
  margin-top: 56px;
}

.top__group {
  width: 392px;
  max-width: calc((100% - var(--basic-gap)) / 2);
  margin-right: var(--basic-gap);
}

.top__group:last-of-type {
  margin: 0;
}

.top__group:hover svg {
  opacity: 1;
}

/* responsive */

@media (max-width: 959px) {
  .top__text {
    max-width: 644px;
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 28px;
  }

  .top__list {
    flex-direction: column;
  }

  .top__item {
    width: 100%;
    margin-bottom: 12px;
  }

  .top__item:last-of-type {
    margin-bottom: 0;
  }
}

@media (max-width: 666px) {
  .top {
    padding: 32px 0;
  }

  .top__filters {
    margin-top: 32px;
  }

  .top__group {
    max-width: 100%;
    margin: 0 0 16px;
  }
}
